// 设计尺寸
$design:750px;
// 分割分数
$split:10;
// 单位尺寸
$unit:$design/$split;

@function pxToRem($px) {
    @return $px/$unit*1rem;
}

html,
body,
ul,
li,
img,
a,
p,
div,
form,
input,
button {
    font-size: 32px;
    padding: 0;
    margin: 0;
    /*设置盒模型*/
    /*box-sizing: border-box;*/
    /*去除移动端特有的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-1000 {
    z-index: 1000;
}

.z-500 {
    z-index: 500;
}

.w-all {
    width: 100%;
}

.middle {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
}

.baseline {
    display: flex;
    align-items: baseline;
}

.row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.around {
    display: flex;
    justify-content: space-around;
}

.between {
    display: flex;
    justify-content: space-between;
}

/* 字体大小默认32px */
.fs-22 {
    font-size: pxToRem(22px);
}

.fs-24 {
    font-size: pxToRem(24px);
}

.fs-26 {
    font-size: pxToRem(26px);
}

.fs-28 {
    font-size: pxToRem(28px);
}

.fs-30 {
    font-size: pxToRem(30px);
}

.fs-32 {
    font-size: pxToRem(32px);
}

.fs-34 {
    font-size: pxToRem(34px);
}

.fs-36 {
    font-size: pxToRem(36px);
}

.fs-38 {
    font-size: pxToRem(38px);
}

.fs-42 {
    font-size: pxToRem(42px);
}

.fs-44 {
    font-size: pxToRem(44px);
}

.fs-46 {
    font-size: pxToRem(46px);
}

.fs-48 {
    font-size: pxToRem(48px);
}

.fs-50 {
    font-size: pxToRem(50px);
}

.fs-54 {
    font-size: pxToRem(54px);
}

.fs-74 {
    font-size: pxToRem(74px);
}

.fs-120 {
    font-size: pxToRem(120px);
}

.fw-bold {
    font-weight: bold;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}

// 字体颜色
.fc-white {
    color: #fff;
}

.fc-af {
    color: #af5f00;
}

.fc-fd {
    color: #fda201;
}

.fc-d6 {
    color: #d6c7ad;
}
.fc-99{
    color: #999;
}
.fc-66 {
    color: #666;
}
.fc-f4{
    color: #f4523c;
}
.fc-d5{
    color: #d50008;
}
//背景颜色
.bc-white {
    background: #fff;
}

.bc-ff {
    background: #ffe8b4;
}

// 上边距
.mt-5 {
    margin-top: pxToRem(5px);
}

.mt-10 {
    margin-top: pxToRem(10px);
}

.mt-20 {
    margin-top: pxToRem(20px);
}

.mt-30 {
    margin-top: pxToRem(30px);
}

.mt-40 {
    margin-top: pxToRem(40px);
}
.mt-54 {
    margin-top: pxToRem(54px);
}

//下边距
.mb-5 {
    margin-bottom: pxToRem(5px);
}
.mb-10 {
    margin-bottom: pxToRem(10px);
}
.mb-50 {
    margin-bottom: pxToRem(50px);
}
.mx-10{
    margin-left: pxToRem(10px);
    margin-right: pxToRem(10px);
}
.mx-20{
    margin-left: pxToRem(20px);
    margin-right: pxToRem(20px);
}
// 内边距
.pt-20 {
    padding-top: pxToRem(20px);
}
.pt-30 {
    padding-top: pxToRem(30px);
}
.pt-40 {
    padding-top: pxToRem(40px);
}
.pt-54{
    padding-top: pxToRem(54px);
}
.pt-60{
    padding-top: pxToRem(60px);
}
.pb-10 {
    padding-bottom: pxToRem(10px);
}
.pb-30 {
    padding-bottom: pxToRem(30px);
}

.pb-36 {
    padding-bottom: pxToRem(30px);
}

.pb-37 {
    padding-bottom: pxToRem(37px);
}

.pb-54 {
    padding-bottom: pxToRem(54px);
}

.pb-64 {
    padding-bottom: pxToRem(64px);
}
.pl-20{
    padding-left: pxToRem(20px);
}
.pr-30{
    padding-right: pxToRem(30px);
}
.px-20 {
    padding-left: pxToRem(20px);
    padding-right: pxToRem(20px);
}

.px-30 {
    padding-left: pxToRem(30px);
    padding-right: pxToRem(30px);
}

.px-60 {
    padding-left: pxToRem(60px);
    padding-right: pxToRem(60px);
}
//弧度
.radius-15{
    border-radius: pxToRem(15px);
}

.wh-80{
    width: pxToRem(80px);
    height: pxToRem(80px);
}
.wp-20{
    width: 20%;
}
.wp-80{
    width: 80%;
}
.w-140{
    width: pxToRem(180px);
}

.h-70{
    height: pxToRem(70px);
}
.h-420{
    height: pxToRem(420px);
}
.line-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}